#main{
    margin-top: 150px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
#text{
    font-size: 50px;
}
#box1{
   
    /* box-shadow: 2px 2px 2px 3px red; */
    text-align: center;
   
}
#keyCode{
    font-size: 100px;
    color: green;
}
#keyType{
    font-size: 30px;
    color: red;
}